@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Utils */

.clear {
	clear: both;
}
.purple {
	color: #837c9a;
}

.block {
	margin: 25px 30px;
}
	.block h1 {
		margin-left: -5px;
		font-weight: 200;
	}

.last.block {
	margin-bottom: 110px;
}

.horizontal_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	.horizontal_list li {
		float: left;
	}
	.horizontal_list li:before {
		content: none;
	}
	.horizontal_list li { 
		padding-left: 0; 
		text-indent: 0;
	}

.horizontal_line{
	margin: 34px 0 0 30px;
	height: 26px;
	position: relative;	
}
	.line_left,
	.line_right{
		border-top: 1px solid #434247;
		width: 305px;
		margin-top: 13px;
	}
	.line_left{
		float: left;
	}
	.line_right {
		float: right;
	}
	.left_circle, 
	.central_circle, 
	.right_circle {

		background: #6f467c3b;
		position: absolute;
		border-radius: 50px;
	}
	.left_circle, 
	.right_circle {
		width: 13px;
		height: 13px;
		top: 7px;
	}
	.left_circle{
		left: 314px;
	}
	.central_circle{
		width: 26px;
		height: 26px;		
		top: 0px;
		left: 322px;
	}
	.right_circle{
		left: 343px;
	}
	
/* Main tags */

body {
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/stripes-light.png) repeat;
	margin: 0px;
}

h1,h2,h3, h4 {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	color: #294419;
}
	h1 {
		font-size: 48px;
		font-weight: 300;
		margin: 20px 0;
	}
	h2 {
		font-size: 28px;
		margin: 32px 0 24px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 18px;
		font-weight: 400;
	}

blockquote {
	font-style: italic;
	margin: 25px 0;
	padding-left: 20px;
	border-left: 2px solid #6f467c;
}
	
blockquote, p , li {
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #000000;
}

a {
    font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #eef0ef;
}

a:focus { 
    outline: none;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}
	li { 
		padding-left: 1em; 
		text-indent: -.7em;
	}
	li:before {
		content: "• ";
		color: #837c9a;
		font-size: 20px;
		padding-right: 8px;
	}

/* Containers size */

#main_container {
    background-color: #a5b5be;
	width: 960px;
	margin: 0 auto;
}
	#header {
		height: 130px;
		border-bottom: 1px solid #403F44;
	}
		.header_logotype_container {
			width: 260px;
			height: 130px;
			border-right: 1px solid #403F44;
			float: left;
		}
		.header_menu_container {
			height: 130px;
			width: 699px;
			float: left;
		}
			.header_menu_container a {
				font-family: 'Lato', Helvetica, sans-serif;
			}
	#left_col {
		width: 260px;
		float: left;
	}
	#content_container {
		width: 699px;
		min-height: 870px;
		border-left: 1px solid #403F44;
		float: left;
	}
	#footer {
		width: 960px;
		height: 125px;
		border-top: 1px solid #403F44;
		display: inline-block;
	}

/* HEADER */

.logotype_name{
	text-transform: uppercase;
	font-size: 32px;
	margin: 43px 0 0;
}
.logotype_occupation{
	text-transform: uppercase;
	margin-top: 5px;
	color: #6f467c;
	font-size: 14px;
	letter-spacing: 2px;
	padding-left: 7px;
}

.download_print_buttons {
	width: 225px;
	height: 45px;
	float: right;
}
	.download_print_buttons a {
		text-decoration: none;
		font-size: 12px;
		font-family: 'Lato', Helvetica, sans-serif;
		font-style: italic;
		line-height: 45px;
		padding: 16px 17px;
		background: #353638;
	}
		.download_print_buttons a:hover {
			background: #020609;
		}
		.download_print_buttons .icon {
			color: #02070a;
			padding-right: 6px;
			font-style: normal;
			font-size: 18px;
		}
		.icon-angle-double-right {
			position: relative;
			top: 2px;
		}
			.download_print_buttons a:hover .icon {
				color: #e4e3e8;
			}
			
.header_menu {
	width: 699px;
	margin-top: 40px;
	margin-left: 5px;
}
	.header_menu a{
		text-decoration: none;
		padding: 0 20px;
		border-left: 1px solid #e4e3e8;
		font-size: 16px;
		font-weight: 400;
	}
	.header_menu a.no_border{
		border-left: none;
	}
		.header_menu a:hover {
			color: #837c9a;
		}
		
/* LEFT NAV */

#left_nav h2 {
	margin: 0;
	font-size: 24px;
}

.profile_frame{
	width: 210px;
	height: 315px;
	background: black;
	border: 1px solid #403F44;
	margin-top: 30px;
    margin-left: 20px;
}
img {
	width: 210px;
	height: 315px;
}


.hello_content,
.contact_details_content {
	margin-top: 25px;
    margin-left: 20px;
}

.hello_content{
	width: 230px;
}
.contact_details_content h2 + p.purple{
	margin-top: 10px;
    color: #6f467c;
}
.contact_details_content p{
	margin: 0;
}
.contact_details_content p.purple{
	margin-top: 25px;
    color: #6f467c;
}

.send_message_button,
.special_button {
    margin-left: 15px;
	margin-top: 25px;
	display: block;
	background: #7e53a33f;
	width: 230px;
	height: 50px;
	position: relative;
	z-index: 1;
}

	
	.content {
	    text-align: center;		
	    color: #04080b;
	    width: 100%;
	    height: 40px;
	    position: absolute;
	    z-index: 2;
	    font: 18px 'Lato', Arial, sans-serif;
	    margin: 0;
	    padding: 16px 0 0;
        top: -4px;
        bottom: 10px;
	    border-top: 1px solid #403F44;
	    border-bottom: 1px solid #403F44;
	}
	.send_message_button:hover,
	.special_button:hover {
		background: #eef0ef;
	}



/* Social links */
.fa {
	margin-top: 20px;
    padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
    }
	.fa:hover {
		background: white;
		color: black;

	}
    .fa-linkedin {
        margin-left: 20px;
        background: #007bb5;
        color: white;
      }
    .fa-github {
        background: #000000;
        color: white;
    }


	/* Create two equal columns that floats next to each other */
	.column {
		float: left;
		width: 50%;
		padding: 10px;
	}
	
	/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	
	.row img {
		margin-right: auto;
		margin-left: auto;
		margin-top: 10px;
		height: auto;
	}
	
	/* Slideshow container */
	.slideshow-container {
	  max-width: 1000px;
	  position: relative;
	  margin: auto;
	}
	
	.slideshow-container img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: auto;
	}
    

	.dot {
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #6f467c62;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.dot:hover {
		background-color: #717171;
	  }
	
	.active {
	  background-color: #717171;
	}
	
	/* Fading animation */
	.fade {
	  animation-name: fade;
	  animation-duration: 1.5s;
	}
	
